// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*nav bar icon*/
.house {
  width: 2em;
  height: 2em;
}

body{
  background-color: #dddddd;
}


ul {
  list-style-type: none;
  padding-left: 0px;
}

#create-btn{
  margin-top: 10px;
  margin-bottom: 10px;

}

.hover-area {
  background-image: url("https://avatars1.githubusercontent.com/u/10661978?v=3&s=200");
  background-size: 100% auto;
  background-color: gray;
  color: transparent;
  height: 13.5em;
  margin: 1em;
  text-align: center;
}

.hover-area:hover {
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

.hover-txt {
  margin: 50% 0;
}
