// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*nav bar icon*/
.house {
  width: 2em;
  height: 2em;
}

body{
  background-color: #dddddd;
}

/*padding for wrapper*/
.big-padd{
  padding: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

/*stock product image*/
.product-img{
  position: relative;
  left: 30px;
  width:70px;
  height:70px;
  margin-bottom: 10px;
}
