// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*.invalid-input {
  color: red;
}

.form-container {
  border: 2px solid grey;
  padding: 10px 40px;
  border-radius: 25px;
}*/

/*`*/

.house {
  width: 2em;
  height: 2em;
}

body{
  background-color: #dddddd;

}

.big-padd{
  padding: 50px;
}

/*#create-button{
  width: 15em;
  text-align: center;
  border-radius: 3px;
  border: 2px solid green;
}*/

/*div .button {
  text-decoration: none;
  background-color: #9bd861;

  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}*/

/*div a .button {
  color: white;
}*/

/* unvisited link */
/*.button a:link {
    color: red;
}*/

/* visited link */
/*.button a:visited {
    color: green;
}*/

/* mouse over link */
/*.button a:hover {
    color:  #999999;
}*/

/* selected link */
/*.button a:active {
    color: blue;
}*/

ul {
  list-style-type: none;
  padding-left: 0px;
}

.product-img{
  position: relative;
  left: 30px;
  width:70px;
  height:70px;
  margin-bottom: 10px;
}
